{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">{{name}}
            <span class="text-primary">{{lastname}}</span>
          </h1>
          <div class="subheading mb-5">iran-tehran            
          </div>
          <p>my gmail : {{email}}</p>
          <p class="mb-5"> i am an undergraduate computer Science in Islamic Azad University Central Tehran Branch <br> i am interested in machine learning , bioinformatics , data minig with python and backend development using django and JavaScript
          <br>persian is my native Language and i have proficiency in english</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="{{facebook}}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{linkedin}}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{github}}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">University of Islamic Azad University Central Tehran Branch</h3>
              <div class="subheading mb-3">Bachelor of Science</div>
              <div>Computer Science</div>
              <p>mean score : 16.7/20</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">sep 2023 - sep 2027</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">ahmadi rooshan High School</h3>
              <div class="subheading mb-3">experimental Science</div>
              <p>mean score : 19.2/20</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">sep 2019 - May 2022</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-python"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-mysql"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-linux"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-git"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-scikitlearn-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-numpy-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-matplotlib-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-jupyter-plain-wordmark"></i>
            </li>            
          </ul>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <li>
            <i class="fa-li fa fa-check"></i>
            django
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            JavaScript
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            machine learning
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            datamining
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            bioinformatics
          </li>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Awards &amp; Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Certificate in  Python Programming for Beginners issued by maktabkhoneh </li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Certificate in  Advanced Python Programming issued by maktabkhoneh</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Certificate in  Machine Learning with Python by maktabkhoneh</li>
          </ul>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/resume.min.js' %}"></script>

  </body>

</html>
{% endblock %}